html
{
}
body
{
	font-family: 'Assistant', sans-serif;
}


	.container nav
	{
		margin-bottom: 40px;
	}
		.container nav a
		{
			border-bottom: 2px solid #c8dadf;
			display: inline-block;
			padding: 4px 8px;
			margin: 0 5px;
		}
		.container nav a.is-selected
		{
			font-weight: 700;
			color: #39bfd3;
			border-bottom-color: currentColor;
		}
		.container nav a:not( .is-selected ):hover,
		.container nav a:not( .is-selected ):focus
		{
			border-bottom-color: #0f3c4b;
		}

	.container footer
	{
		color: #92b0b3;
		margin-top: 40px;
	}
		.container footer p + p
		{
			margin-top: 1em;
		}
		.container footer a:hover,
		.container footer a:focus
		{
			color: #39bfd3;
		}

	.box {
		position: relative;
		padding: 20px;
		background-color: #3E3E3E;
		min-height: 200px;
		margin-bottom: 70px;
		color: #fff;
	}
	.box__input {
		position: absolute;
		right: 0;
		bottom: -70px;
	}
	.box__input label { 
		height: 40px;
		width: 253px;
		background: #6C6C6C;
		color: #ffffff !important;
		text-transform: uppercase;
		font-weight: 300;
		letter-spacing: 6px;
		line-height: 40px;
		border-radius: 0;
		border: 0px;
		padding: 0 0 0 6px;
		display: inline-block;
		text-align: center;
	}
	.box__input label:hover,
	.box__input label:focus {
		background: #3E3E3E;
	}
	.box.has-advanced-upload
	{
		-webkit-transition: background-color .15s linear;
		transition: background-color .15s linear;
	}
	.box.is-dragover
	{
		background-color: #6C6C6C;
	}
		.box__dragndrop,
		.box__icon
		{
			display: none;
		}
		.box.has-advanced-upload .box__dragndrop {
			display: block;
			transform: translate(-50%,-50%);
			text-align: center;
			left: 50%;
			position: absolute;
			top: 50%;
			text-transform: uppercase;
			font-size: 13px;
			color: #ffffff;
			letter-spacing: 1px;
			font-weight: 300;
		}

		.box.is-uploading .box__input,
		.box.is-success .box__input,
		.box.is-error .box__input
		{
			visibility: hidden;
		}

		.box__uploading,
		.box__success,
		.box__error
		{
			display: none;
		}
		.box.is-uploading .box__uploading,
		.box.is-success .box__success,
		.box.is-error .box__error
		{
			display: block;
			position: absolute;
			bottom: -45px;
			right: 0;
			left: 0;    
			max-width: 50%;

			-webkit-transform: translateY( -50% );
			transform: translateY( -50% );
		}
		.box__uploading
		{
			font-style: italic;
		}
		.box__success
		{
			-webkit-animation: appear-from-inside .25s ease-in-out;
			animation: appear-from-inside .25s ease-in-out;
		}
			@-webkit-keyframes appear-from-inside
			{
				from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
				75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
				to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
			}
			@keyframes appear-from-inside
			{
				from	{ transform: translateY( -50% ) scale( 0 ); }
				75%		{ transform: translateY( -50% ) scale( 1.1 ); }
				to		{ transform: translateY( -50% ) scale( 1 ); }
			}

		.box__restart
		{
			font-weight: 700;
		}
		.box__restart:focus,
		.box__restart:hover
		{
			color: #39bfd3;
		}

		.js .box__file
		{
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}
		.js .box__file + label
		{
			text-overflow: ellipsis;
			white-space: nowrap;
			cursor: pointer;
			display: inline-block;
			overflow: hidden;
		}
		.js .box__file + label:hover strong,
		.box__file:focus + label strong,
		.box__file.has-focus + label strong
		{
			color: #39bfd3;
		}
		.js .box__file:focus + label,
		.js .box__file.has-focus + label
		{
			outline: 1px dotted #000;
			outline: -webkit-focus-ring-color auto 5px;
		}
			.js .box__file + label *
			{
				/* pointer-events: none; */ /* in case of FastClick lib use */
			}

		.no-js .box__file + label
		{
			display: none;
		}

		.no-js .box__button
		{
			display: block;
		}
		.box__button
		{
			font-weight: 700;
			color: #e5edf1;
			background-color: #39bfd3;
			display: none;
			padding: 8px 16px;
			margin: 40px auto 0;
		}
			.box__button:hover,
			.box__button:focus
			{
				background-color: #0f3c4b;
			}

a.remove {
    width: 20px;
    height: 20px;
    display: block;
    float: left;
}
a.file-link {
    line-height: 25px;
    margin-left: 10px;
}
.mt-10 {
	margin-top:10px;
}
.mr-10 {
	margin-right:10px;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
